.faceRecognition {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

img {
    object-fit: contain;
}

.boundingBox {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}